<nav class="mb-4">
    <a class="me-3" href="/">Avaleht</a>
    <a class="me-3" href="/loomad">Loomad</a>
    <a class="me-3" href="/meist">Meist</a>
    <a class="me-3" href="/kontakt">Kontakt</a>
</nav>
